.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
    color: #0f3c4b;
    text-align: center;
}

.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__file + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.box__dragndrop {
    display: inline;
}

.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: none;
    padding: 8px 16px;
    margin: 40px auto 0;
}

.box__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    background:radial-gradient(110% 210% at left,#101827 50%,#182338 50.1%);
}
a {
    text-decoration: none;
    color: white;
}
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.headerLeft {
    padding-left: 30px;
    display: flex; 
    padding-top: 6px;
}

.headerRight {
    display: flex;
    padding-right: 30px;
    gap: 50px;
}

.headerLink:hover {
    opacity: 0.7;
}

.center {
    padding-top: 200px;
    padding-left: 130px;
    padding-right: 130px;
    font-family: Roboto, sans-serif;
}
.register {
    padding-top: 64px;
}
.search {
    display: flex;
    justify-content: left;
}
#input-area {
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
    outline: none;
    height: 45px;
    width: 100%;
    padding: 8px;
    padding-top: 9px;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}
#submit {
    background-color: rgb(63, 175, 212);
    border: none;
    height: 45px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer; 
    transition-duration: 0.4s;
} 
#submit:hover {
    opacity: 0.7;
}
::placeholder {
    color: gray;
}
.declaration {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin-bottom: 5px;
}
.description {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    color: #ffffffbf
}
.footer {
    position: absolute;
    bottom: 10px;
    width: 100vw;
    text-align: center;
    opacity: 50%;
}
.main-image {
    position: absolute;
    top: 20vh;
    right: 75px;
    height: 440px;
}
.logo-white {
    cursor: pointer;
    display: fixed;
    margin-top: -5px;
    width: 50px;
}
.name {
    cursor: pointer;
    margin-top: 5px;
}
#background {
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: -1;
}
.mobile-image {
    display: none;
}
@media (max-width: 1100px) {
    .header {
        font-size: 35px;
        gap: 50px;
    }
    .center {
        box-sizing: border-box;
        padding-top: 200px;
        padding-left: 90px;
        text-align: center;
        padding-right: 90px;
        width: 100vw;
    }
    .declaration {
        font-size: 80px;
        margin-bottom: 50px;
    }
    .description {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .main-image {
        display: none;
    }
    .mobile-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        align-items: center;
    }
    .name {
        margin-top: -5px;
    }
    .footer {
        display: none;
    }
}